<div class="alert alert-info" role="alert">
  Заполните все обязательные поля.
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Добавить товар</h3>
  </div>
  <div class="card-body">
    <div class="card-text">
      <form (ngSubmit)="addProduct()">
        <div class="form-group">
          <label for="title"><strong>Название*</strong></label>
          <input type="text" class="form-control" id="title" name="name" required [(ngModel)]="product.name"
            placeholder="Введите назавние товара">
        </div>
        <div class="form-group">
          <label for="title"><strong>Категория*</strong></label>
          <input type="text" class="form-control" id="category" name="category" required [(ngModel)]="product.category"
            placeholder="Введите назавние категории">
        </div>
        <div class="form-group">
          <label for="title"><strong>Изображение*</strong></label>
          <input type="text" class="form-control" id="img" name="img" required [(ngModel)]="product.img"
            placeholder="Введите ссылку на рисунок">
        </div>
        <div class="form-group">
          <label for="text"><strong>Описание*</strong></label>
          <input type="text" class="form-control" id="description" name="description" required [(ngModel)]="product.description"
            placeholder="Введите описание товара">
        </div>
        <div class="form-group">
          <label for="text"><strong>Цена*</strong></label>
          <input type="text" class="form-control" id="price" name="price" required [(ngModel)]="product.price"
            placeholder="Введите цену товара">
        </div>
        
        <button type="submit" class="btn btn-primary">
          Добавить
        </button>
      </form>
    </div>
  </div>
</div>
